root = "."
testdata_dir = "testdata"
tmp_dir = "tmp"

[build]
  args_bin = ["serve", "-c", "config/config.yaml"]
  bin = "./tmp/product-service.exe"
  cmd = "(taskkill /F /IM product-service.exe /T 2>nul || (exit 0)) & go build -o ./tmp/product-service.exe ./cmd/product-service/main.go"
  delay = 1000
  exclude_dir = ["assets", "tmp", "vendor", "testdata", "bin", "air", ".git"]
  exclude_file = []
  exclude_regex = ["_test.go"]
  exclude_unchanged = false
  follow_symlink = false
  full_bin = ""
  include_dir = []
  include_ext = ["go", "tpl", "tmpl", "html", "yaml", "yml"]
  include_file = []
  kill_delay = "5s"
  log = "tmp/build-errors.log"
  poll = true
  poll_interval = 0
  rerun = true
  rerun_delay = 500
  send_interrupt = true
  stop_on_error = false

[color]
  app = ""
  build = "yellow"
  main = "magenta"
  runner = "green"
  watcher = "cyan"

[log]
  main_only = false
  time = false

[misc]
  clean_on_exit = false

[screen]
  clear_on_rebuild = false
  keep_scroll = true
